.bg-gray {
    background-color: #EFEEF3;
}

.bg-darkblue {
    background-color: #152D8F;
}

.clamp-2 {
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 2; /* number of lines to show */
   line-height: 1.5em;        /* fallback */
   max-height: 3em;       /* fallback */

}