.bg-gray {
    background-color: #efeef3;
}

.bg-darkblue {
    background-color: #152d8f;
}

.clamp-2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-height: 1.5em; /* fallback */
    max-height: 3em; /* fallback */
}

.card-news__img {
    height: 200px;
    width: 100%;
    padding: 5px;
}

.card-news__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 4px;
}
