.bg-gray {
    background-color: #efeef3;
}

.bg-darkblue {
    background-color: #152d8f;
}

.clamp-2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-height: 1.5em; /* fallback */
    max-height: 3em; /* fallback */
}

.divider {
    width: 100%;
    height: 1px;
    background-color: #152d8f;
    margin: 1rem 0;
}
