.hero {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
}

.hero h2 {
    font-size: 3.5rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-weight: bold;
    line-height: 1.2;
}

.hero__overlay {
    position: absolute;
    z-index: 0;
    background-color: rgba(21, 45, 143, 0.71);
    height: 100%;
    width: 100%;
}

.img-container {
    width: 100%;
    height: 400px;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 14px;
}

.profile-img-container {
    height: 200px;
    width: 200px;
    margin: 0 auto;
}

.profile-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.countdown__date {
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 0;
    padding: 0;
}

.countdown__desc {
    padding: 0;
    margin: 0;
}

.hero_logo {
    width: 15%;
    margin-bottom: 50px;
}

@media screen and (max-width: 768px) {
    .hero h2 {
        font-size: 1.3rem;
    }

    .hero_logo {
        width: 40%;
        margin-bottom: 50px;
    }
    
}


